.outlined-input {
  padding: 25px 10px;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid silver;
}

.basic-input {
  padding: 10px 5px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid silver;
}

.basic-input:focus {
  outline: none !important;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.filled-input {
  padding: 10px 5px;
  border: none;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  background-color: rgb(235, 235, 235);
  border-bottom: 1px solid silver;
}

.filled-input:focus {
  outline: none !important;
  border-bottom: 1px solid rgb(0, 0, 0);
}

input[type="text"] {
  font-size: 16px;
}
