.badge-wrapper {
  position: relative;
  padding: 10px;
}

.notification {
  background-color: rgb(255, 69, 58);
  padding: 0px 6px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  position: absolute;
  right: 0px;
  top: 5px;
  z-index: 1;
}

.notification-text {
  color: #ffffff;
}
