* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: var(--border);
  width: 1px;
}

*::-webkit-scrollbar-thumb {
  background: var(--border-thumb);
  border-radius: 50px;
  width: 3px !important;
}

/* fonts */
@font-face {
  font-family: ExtraLight;
  src: url("./assets/fonts/Montserrat-ExtraLight.ttf");
}
@font-face {
  font-family: Light;
  src: url("./assets/fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: Thin;
  src: url("./assets/fonts/Montserrat-Thin.ttf");
}

@font-face {
  font-family: Black;
  src: url("./assets/fonts/Montserrat-Black.ttf");
}
@font-face {
  font-family: ExtraBold;
  src: url("./assets/fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: SemiBold;
  src: url("./assets/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Bold;
  src: url("./assets/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Medium;
  src: url("./assets/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: Regular;
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

/* theming */
:root {
  --primary: rgb(63, 94, 251);
  --secondary: rgba(112, 37, 177, 0.8);
  --button-hover: rgba(88, 20, 148, 0.8);
  --button: rgba(122, 29, 202, 0.8);
  --main-text: #14111c;
  --sub-text: #211f37;
  --border: rgb(223, 227, 230);
  --border-thumb: rgb(172, 172, 172);
  --icon: #14111c;
  --white: #fafaf9;
  --bg: rgb(249, 249, 249);
  --logo: rgba(122, 29, 202, 0.8);
}

.dark-theme {
  --sub-text: white;
  --main-text: white;
  --button-hover: rgba(125, 37, 202, 0.8);
  --button: rgba(159, 71, 236, 0.8);
  --icon: #fafaf9;
  --bg: #0f172a;
  --border: rgb(40, 53, 71);
  --border-thumb: rgb(117, 117, 117);
  --logo: rgba(192, 119, 255, 0.8);
}

/* icons */
.fa-rainbow {
  color: var(--logo);
}

.fa-sun,
.fa-bars,
.fa-github,
.fa-moon {
  color: var(--icon);
  font-size: 24px;
}

.fa-xmark {
  color: var(--icon);
  font-size: 24px;
}

.icon-bg {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

/* reusable classes */
.heading-big {
  font-family: Bold;
  font-size: 56px;
  padding-bottom: 20px;
  color: var(--main-text);
  padding-bottom: 10px;
}

.sub-text {
  font-family: Medium;
  font-size: 18px;
  color: var(--sub-text);
}

.header-box {
  background-color: rgb(117, 86, 226);
}

.primary-btn {
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
  background-color: var(--button);
  color: #ffff;
  transition-timing-function: ease;
}

.primary-btn:hover {
  cursor: pointer;
  background-color: var(--button-hover);
  color: #ffff;
  transition: 0.5s ease;
}

.primary-btn-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Medium;
  text-align: center;
  font-size: 18px;
  gap: 6px;
}

.center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  height: 100vh;
  background: var(--bg);
}

.btn-hr-box {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: row;
  padding-top: 25px;
}

/* main page */

.main-body {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  background-color: var(--bg);
}
.heading-medium {
  font-family: Bold;
  color: var(--main-text);
  font-size: 24px;
  text-decoration: none;
}
.rainbow-logo {
  font-size: 26px;
}
.nav-bar {
  padding: 16px 30px;
  display: flex;
  position: fixed;
  overflow: hidden;
  top: 0;
  background-color: var(--bg);
  flex: 1;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--border);
}

.mini-nav-bar {
  padding: 16px 30px;
  display: flex;
  position: fixed;
  overflow: hidden;
  top: 0;
  background-color: var(--bg);
  flex: 1;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.list-box {
  width: 250px;
  height: 90vh;
  padding-top: 12px;
  overflow: auto;
  /* border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgb(223, 227, 230); */
}

.content-box {
  height: 90vh;
  padding: 14px 30px;
  overflow: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-heading {
  font-size: 36px;
  font-family: Bold;
  color: var(--main-text);
  margin-bottom: 28px;
}

.content-body {
  font-size: 16px;
  font-family: Regular;
  margin-bottom: 28px;
  color: var(--sub-text);
}

.content-file-name {
  font-size: 16px;
  font-family: Medium;
  margin-bottom: 24px;
  color: var(--sub-text);
}

.list-item-title {
  font-family: Bold;
  padding: 10px;
  padding-left: 40px;
  font-size: 14px;
  color: var(--main-text);
  text-transform: uppercase;
}

.list-item {
  font-family: Regular;
  padding: 10px;
  padding-left: 40px;
  font-size: 14px;
  color: var(--sub-text);
}

.active-list-item {
  background-color: rgba(112, 37, 177, 0.36);
}

.list-item:hover {
  background-color: rgba(112, 37, 177, 0.2);
  cursor: pointer;
}

.category-divider {
  margin-bottom: 10px;
  /* margin-top: 10px; */
}

.hamburger-icon {
  display: none;
}

/* footer */

.footer {
  padding: 16px 30px;
  position: absolute;
  bottom: 0;
  right: 0;

  text-align: center;
  background-color: var(--bg);
}

.footer a {
  text-decoration: none;
}

.footer-text {
  font-size: 14px;
  color: var(--sub-text);
  font-family: Medium;
  cursor: pointer;
}

.footer-text:hover {
  text-decoration: underline;
}

/* code snippet */
/* .code-box {
  width: 80%;
  align-items: flex-start;
} */

.code-snippet {
  /* border-radius: 50px; */
  border: 0;
  margin: 0;
  width: 480px;

  /* height: 100%; */

  /* overflow: hidden; */
  /* overflow-y: hidden; */
}
.jsx-3326892330 section {
}

.code-snippet::-webkit-scrollbar {
  width: 0px;
}

.code-snippet::-webkit-scrollbar-track {
  background: var(--border);
  width: 0px;
}

.code-snippet::-webkit-scrollbar-thumb {
  background: var(--border-thumb);
  border-radius: 0px;
  width: 3px !important;
}

/* responsive */

@media (max-width: 1024px) {
  .box {
    margin: 80px;
    padding: 80px;
  }
  .heading-big {
    font-size: 56px;
    padding-bottom: 10px;
  }
}

/* tab */
@media (max-width: 768px) {
  .box {
    margin: 40px;
    padding: 40px;
  }
  .heading-big {
    font-size: 48px;
    padding-bottom: 10px;
  }
  /* main hamburger menu */
  .hamburger-icon {
    display: contents;
  }

  .list-box-close {
    display: none;
  }

  .list-box-open {
    display: flex;
  }

  .list-box {
    width: 100%;
    height: 100%;
  }
}

/* mobile */
@media (max-width: 480px) {
  .box {
    margin: 0px 30px;
    padding: 30px 20px;
  }
  .heading-big {
    font-size: 36px;
    padding-bottom: 10px;
  }
  .btn-hr-box {
    gap: 20px;
  }
  .sub-text {
    font-size: 16px;
  }

  .primary-btn-text {
    font-size: 14px;
  }

  /* main hamburger menu*/

  .nav-bar {
    padding: 16px 20px;
  }

  .list-box-close {
    display: none;
  }

  .list-box-open {
    display: flex;
  }

  .list-box {
    width: 100%;
    height: 100%;
  }
}
