* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: var(--border);
  width: 1px;
}

*::-webkit-scrollbar-thumb {
  background: rgb(172, 172, 172);
  border-radius: 50px;
  width:3px !important;
}

:root {
  --primary: rgb(63, 94, 251);
  --secondary:rgba(112, 37, 177, 0.8) ;
  --button: rgb(63, 94, 251);
  --button-hover: rgb(35, 55, 156);
  --sub-text: #211f37;
  --main-text:#14111c;
  --border: rgb(223, 227, 230);
  --black:#14111c;
}

/* icons */
.fa-rainbow {
  color: var(--secondary);
}

.fa-sun, .fa-bars, .fa-github{
  color:var(--black);
  font-size: 24px;
}

.fa-xmark{
  color:var(--black);
  font-size: 24px;
}

.icon-bg{
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

/* fonts */
@font-face {
  font-family: ExtraLight;
  src: url("./assets/fonts/Montserrat-ExtraLight.ttf");
}
@font-face {
  font-family: Light;
  src: url("./assets/fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: Thin;
  src: url("./assets/fonts/Montserrat-Thin.ttf");
}

@font-face {
  font-family: Black;
  src: url("./assets/fonts/Montserrat-Black.ttf");
}
@font-face {
  font-family: ExtraBold;
  src: url("./assets/fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: SemiBold;
  src: url("./assets/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Bold;
  src: url("./assets/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Medium;
  src: url("./assets/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: Regular;
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

/* reusable classes */
.heading-big {
  font-family: Bold;
  font-size: 42px;
  padding-bottom: 20px;
  color: var(--main-text)
  padding-bottom: 10px;
}

.sub-text {
  font-family: Regular;
  font-size: 22px;
  color: var(--sub-text)
}

.header-box {
  background-color: rgb(117, 86, 226);
}

.primary-btn {
  padding: 12px 16px;
  border-radius: 6px;
  border: none;
  background-color: rgb(63, 94, 251);
  color: #ffff;
  transition-timing-function: ease;
}

.primary-btn:hover {
  cursor: pointer;
  background-color: rgb(35, 55, 156);
  color: #ffff;
  transition: 0.5s ease;
}

.primary-btn-text {
  font-size: 18px;
}

.box {
  background-color: rgb(255, 255, 255);
  /* opacity: 98%; */
  margin: 80px;
  padding: 80px;
  border-radius: 30px;
  text-align: center;
}
.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: rgb(63, 94, 251);
  background: linear-gradient(
    338deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(112, 37, 177, 1) 100%
  );
}

.btn-hr-box {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: row;
  padding-top: 25px;
}

/* main page */
.main-body {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
.heading-medium {
  font-family: Bold;
  font-size: 24px;
}
.rainbow-logo {
  font-size: 26px;
  padding-right: 5px;
}
.nav-bar {
  padding: 16px 30px;
  display: flex;
  position: fixed;
  overflow: hidden;
  top: 0;
  background-color: #ffff;
  flex: 1;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(223, 227, 230);
}

.list-box {
  width: 250px;
  height: 90vh;
  padding-top: 12px;
  overflow: auto;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgb(223, 227, 230);
}


.content-box {
  height: 90vh;
  padding:14px 30px;
  overflow: auto;
  flex: 1;
}

.content-heading{
  font-size:36px;
  font-family: Bold;
  color:var(--main-text)
}

.list-item-title {
  font-family: Bold;
  padding: 10px;
  padding-left: 40px;
  font-size: 14px;
  text-transform: uppercase;
}

.list-item {
  font-family: Regular;
  padding: 10px;
  padding-left: 40px;
  font-size: 14px;
  color: ;
}
.list-item:hover {
  background-color: rgba(112, 37, 177, 0.2);
  cursor: pointer;
}

.category-divider {
  margin-bottom: 10px;
  /* margin-top: 10px; */
}

.hamburger-icon {
  display: none;
}

/* main-content */


/* responsive */

@media (max-width: 1024px) {
  .box {
    margin: 80px;
    padding: 80px;
  }
  .heading-big {
    font-size: 32px;
    padding-bottom: 10px;
  }
}

/* tab */
@media (max-width: 768px) {
  .box {
    margin: 40px;
    padding: 40px;
  }
  .heading-big {
    font-size: 32px;
    padding-bottom: 10px;
  }
  /* main hamburger menu */
  .hamburger-icon {
    display: contents;
  }

  .list-box-close {
    display: none;
  }

  .list-box-open {
    display: flex;
  }

  .list-box {
    width: 100%;
    height: 100%;
  }
}

/* mobile */
@media (max-width: 480px) {
  .box {
    margin: 0px 30px;
    padding: 30px 20px;
  }
  .heading-big {
    font-size: 28px;
    padding-bottom: 10px;
  }
  .btn-hr-box {
    gap: 20px;
  }
  .sub-text {
    font-size: 16px;
  }

  .primary-btn-text {
    font-size: 14px;
  }

  /* main hamburger menu*/

  .nav-bar{
    padding: 16px 20px;
  }

  .list-box-close {
    display: none;
  }

  .list-box-open {
    display: flex;
  }

  .list-box {
    width: 100%;
    height: 100%;
  }
}
