.primary-btn {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
  color: #ffff;
  transition-timing-function: ease;
}

.primary-btn:hover {
  cursor: pointer;
  transition: 0.5s ease;
}

.secondary-btn {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  transition-timing-function: ease;
}
.secondary-btn:hover {
  cursor: pointer;
  transition: 0.5s ease;
}

.success-btn {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
  color: #ffff;
  background-color: #4bb543;
}

.success-btn:hover {
  cursor: pointer;
  transition: 0.5s ease;
}

.alert-btn {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
  color: #ffff;
  background-color: #d0342c;
}

.alert-btn:hover {
  cursor: pointer;
  transition: 0.5s ease;
}
