/* social media post */
.post-wrapper {
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;
}

.post-head {
  display: flex;
  align-items: center;
}
.post-details {
  padding-left: 8px;
  line-height: 22px;
}
.post-username,
.post-text {
  font-size: 15px;
}
.post-time {
  font-size: 13px;
}

.post-text-wrapper {
  padding: 8px 0px;
}

/* shopping card */

.card-wrapper {
  max-height: 360px;
  max-width: 210px;
}
