/* social media post */
.post-wrapper {
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;
}

.post-head {
  display: flex;
  align-items: center;
}
.post-details {
  padding-left: 8px;
  line-height: 22px;
}
.post-username,
.post-text {
  font-size: 15px;
}
.post-time {
  font-size: 13px;
}

.post-text-wrapper {
  padding: 8px 0px;
}

/* shopping card */

.card-wrapper {
  height: 360px;
  width: 260px;
  border-radius: 8px;
}

.card-img {
  max-height: 100%;
  max-width: 100%;
}
.card-head {
  height: 72%;
  display: flex;
  justify-content: center;
  position: relative;
}

.card-banner {
  position: absolute;
  background-color: red;
  z-index: 1;
  top: 20px;
  left: 0;
}

.card-name {
  font-size: 16px;
}

.card-price {
  font-size: 14px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 28%;
}
