.modal {
  background-color: rgb(255, 255, 255);
  min-width: 400px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.modal-head {
  display: flex;
  justify-content: space-between;
  padding: 16px 12px;
  border-bottom: 1px solid rgba(99, 99, 99, 0.2);
}

.modal-body {
  padding: 8px 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal-text {
  margin: 10px 6px 2px 2px;
}

.modal-foot {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 12px;
}

.secondary-btn {
  border: 1px solid #14111c;
  color: #14111c;
}

.close-btn {
  color: black !important;
  font-size: 20px !important;
}

.outlined-input {
  padding: 8px 5px !important;
  border-radius: 4px !important;
}

.modal-head-text {
  font-size: 16px;
}

.modal-text {
  font-size: 14px;
}

.secondary-btn,
.primary-btn {
  font-size: 14px !important;
}

@media (max-width: 768px) {
  .modal {
    min-width: 340px;
  }
}

@media (max-width: 426px) {
  .modal {
    min-width: 210px;
  }
}
