.modal {
  background-color: white;
  max-width: 400px;
  min-width: 200px;
  border-radius: 8px;
}

.modal-head {
  display: flex;
  justify-content: space-between;
  padding: 16px 12px;
  border-bottom: 1px solid grey;
}

.modal-body {
  padding: 8px 12px;
}

.modal-foot {
  display: flex;
  justify-content: flex-end;
  padding: 12px;
}
