.modal {
  background-color: rgb(238, 238, 238);
  min-width: 400px;
  border-radius: 8px;
}

.modal-head {
  display: flex;
  justify-content: space-between;
  padding: 16px 12px;
  border-bottom: 1px solid grey;
}

.modal-body {
  padding: 8px 12px;
}

.modal-foot {
  display: flex;
  justify-content: flex-end;
  padding: 12px;
}

.close-btn {
  color: black !important;
  font-size: 20px !important;
}

@media (max-width: 768px) {
  .modal {
    min-width: 340px;
  }
}

@media (max-width: 426px) {
  .modal {
    min-width: 210px;
  }
}
