.nav-bar-wrapper {
  padding: 16px 30px;
  display: flex;
  /* position: fixed; */
  overflow: hidden;
  /* top: 0; */
  background-color: rgb(241, 241, 241);
  flex: 1;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--border);
}

.right-content,
.left-content {
  display: flex;
  gap: 15px;
}

.left-content {
  flex-grow: 1;
}

.hamburger-icon {
  display: none;
}

@media (max-width: 768px) {
  .hamburger-icon {
    display: contents;
  }
  .left-content {
    margin-left: 20px;
  }
}
